.site-container {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.nav-menu-container {
  width: 300px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.nav-menu-primary {
  width: 300px;
  height: 100%;
  background-color: #c0c0c0;
  position: absolute;
}

.nav-menu-secondary {
  width: 300px;
  height: 100%;
  background-color: #868686;
  position: absolute;
  left: 300px;
}

.secondary-menu-open {
  left: 0px;
}

.secondary-menu-transition {
  transition: 250ms ease-in-out;
}

.secondary-menu-closed {
  left: 300px;
}

.main-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

h1,
h3 {
  margin: 0;
  font-weight: 300;
}

.header-container {
  padding: 16px;
}

.page-container {
  display: flex;
  flex: 1;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #f0f0f0;
}

.page-container-inner {
  height: 3000px;
  padding: 16px;
}

.header-1 {
  font-size: 22px;
}

.nav-menu-item-container {
  margin: 12px;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.nav-menu-item-container.selected h3 {
  font-weight: 400;
}

.nav-menu-item-container.sub-option.selected {
  border: none;
}

.nav-menu-item-container.sub-option:hover {
  border: none;
}

.nav-menu-item-container:hover {
  opacity: 0.5;
  cursor: pointer;
  box-sizing: border-box;
}

.config-menu-container,
.main-menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.config-menu-container {
  color: #666;
}

.main-menu-container {
  color: #d3d3d3;
}

.config-menu-icon {
  font-size: 28px;
  margin-left: 12px;
  position: relative;
  transform: rotate(180deg);
}

.main-menu-icon {
  font-size: 28px;
  margin-right: 12px;
  position: relative;
}

.problem,
.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

.link {
  color: blue;
  cursor: pointer;
}
