.site-container {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.nav-menu-container {
  width: 300px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.nav-menu-primary {
  width: 300px;
  height: 100%;
  background-color: #c0c0c0;
  position: absolute;
}

.nav-menu-secondary {
  width: 300px;
  height: 100%;
  background-color: #868686;
  position: absolute;
  left: 300px;
}

.secondary-menu-open {
  transition: 400ms;
  left: 0px;
}

.secondary-menu-closed {
  transition: 400ms;
  left: 300px;
}

.main-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

h1 {
  margin: 0;
}

.header-container {
  padding: 16px;
}

.page-container {
  display: flex;
  flex: 1;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #f0f0f0;
}

.page-container-inner {
  height: 3000px;
  padding: 16px;
}

.header-1 {
  font-size: 22px;
}

.nav-menu-item-container {
  margin: 12px;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.nav-menu-item-container.selected {
  border: 1px solid black;
}

.nav-menu-item-container:hover {
  border: 1px solid black;
  cursor: pointer;
  box-sizing: border-box;
}

.config-menu {
  color: #666;
}

.go-back {
  color: #d3d3d3;
}
